[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox --file-forwarding org.mozilla.firefox @@u %u @@
Icon=org.mozilla.firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager-window;
StartupWMClass=firefox
X-Flatpak=org.mozilla.firefox
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/org.mozilla.firefox.desktop

[Desktop Action new-window]
Name=Open a New Window
Name[en_US]=New Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox --file-forwarding org.mozilla.firefox --new-window @@u %u @@

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[en_US]=New Private Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox --file-forwarding org.mozilla.firefox --private-window @@u %u @@

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox org.mozilla.firefox --ProfileManager
